<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <h4 class="bg-light" style="width: 360px;"><%= @user.name %>さんの会員情報編集</h4>
      <%= form_with model: @user, url: admin_user_path(@user), local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>会員ID</th>
            <td class="form-group"><%= @user.id %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td class="form-group" style="width:20%;"><%= f.text_field :name, class:"form-control name", placeholder:@user.name %></td>
          </tr>
          <tr>
            <th style="width:20%;">メールアドレス</th>
            <td class="form-group" colspan="2"><%= f.text_field :email, class:"form-control email", placeholder:@user.email %></td>
          </tr>
          <tr>
            <th >会員ステータス</th>
            <td class="form-group">
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効" %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会" %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group text-center">
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>