<div class="container px-5 px-sm-0 mt-5">
    <div class="row">
       <div class="col-8">
       </div>
         <div class="col-12">
           <div class="row">
            <div class="col-5 text-center">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="col">ユーザーネーム</th>
                    <td><%= @book.user.name %></td>
                  </tr>
                  <tr>
                    <th scope="col">タイトル</th>
                    <td><%= @book.title %></td>
                  </tr>
                  <tr>
                    <th scope="col">感想</th>
                    <td><%= @book.body %></td>
                  </tr>
                  <tr>
                    <th scope="col">タグ</th>
                    <td>
                      <% @book.tags.each do |tag| %>
                        <span><%= tag.name %></span>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">投稿日</th>
                    <td><%= @book.created_at.strftime('%Y/%m/%d') %></td>
                  </tr>
                </tbody>
             </table>

              <% if @book.user == current_user %>
                <%= link_to "削除", public_book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか?" %>
              <% end %>

              <!--いいね機能-->
              <% if user_signed_in? %>
                <div class="col-12">
                   <div class="row">
                      <div class="col-12 text-center">
                        <% if @book.favorited_by?(current_user) %>
                        <p>
                          <%= link_to public_book_favorites_path(@book), method: :delete do %>
                          ♥<%= @book.favorites.count %> いいね
                          <% end %>
                        </p>
                        <% else %>
                        <p>
                          <%= link_to public_book_favorites_path(@book), method: :post do %>
                          ♡<%= @book.favorites.count %> いいね
                          <% end %>
                        </p>
                        <% end %>
                     </div>
                   </div>
                </div>
              <% end %>


                <!--コメント機能-->
                 <div class="col-12">
                   <div class="row">
                    <div class="col-12 text-center">
                    <p>コメント件数：<%= @book.comments.count %></p>

                    <% @book.comments.each do |comment| %>
                    <p>ユーザーネーム：<%= comment.user.name %></p>
                    <p>
                      コメント：<%= comment.comment %>
                      (<%= comment.created_at.strftime('%Y/%m/%d') %>)
                    </p>

                    <% if comment.user == current_user %>
                     <%= link_to "削除", public_book_comment_path(comment.book, comment), method: :delete %>
                    <% end %>
                    <% end %>
                  </div>
                 </div>
                </div>

                <% if user_signed_in? %>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 text-center">
                     <%= form_with model: [@book, @comment], url: public_book_comments_path(@book) do |f| %>
                      <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
                      <%= f.submit "送信する" %>
                    <% end %>
                   </div>
                 </div>
                </div>
                <% end %>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>